$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

navbar{
  height: 100%;
  md-content{
    color: green;
  }
  md-sidenav{
    height: 100%;
    .avatar-picture{
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    i.material-icons{
      color: green;
    }
    & > md-toolbar {
      padding: 15px;
      height: 150px;
      max-height: 150px;
    }
    & md-list-item.md-2-line .md-list-item-text {
      padding-top: 14px;
      padding-bottom: 12px;
    }
    & md-divider {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}


/* fade animation */
.animate-show {
    transition: 0.75s ease-out opacity;
    opacity: 1;
  &.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}


// Component styles are injected through grunt
/* inject:scss */
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'toolbar/toolbar.scss';
@import '../components/footer/footer.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
