md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-tall
    span(flex='')
    .md-toolbar-tools-bottom.inset(layout='column')
      md-icon.md-avatar(md-svg-icon="avatars:svg-1")
      span Hen
      div {{ nav.getCurrentUser().name }}
  md-content
    md-list
      md-list-item(ng-repeat='item in nav.menu' md-ink-ripple='')    
        md-item-content(layout='row', layout-align='start center')
          .inset
            i.material-icons {{item.icon}}
          .inset
          | {{item.title}}
  md-divider
  md-content
    md-list
      md-list-item(ng-repeat='item in nav.admin' md-ink-ripple='')    
        md-item-content(layout='row', layout-align='start center')
          .inset
            i.material-icons {{item.icon}}
          .inset
          | {{item.title}}
          
